/*
+++++++++++++
reset
+++++++++++++
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




/*
+++++++++++++
Common
+++++++++++++
*/


.jumbotron {
    margin: 0 auto;
}


.container-maxi{
    width: 66vw;
    margin: 0 auto;
}

.container-big{
    width: 54vw;
    margin: 0 auto;
}


.flexami {
    display: flex;
    
}

li {
    list-style-type: none;
    margin: 20px 0;
    padding: 0 20px;

}



a {
    text-decoration: none;
}


.box-testo {
    line-height: 1.4em;
    padding: 10px;
}

.btn-margin {
    margin-bottom: 35px;

}



.container-small .box div:first-child {
    text-align: center;
}

/*
+++++++++++++
Typo Header
+++++++++++++
*/


header {
    height: 80px;
}

.menu-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}


.list,
.list-links {
    display: flex;
}

header .menu-head .list-left .list-links,
header .menu-head .list-right .list-links {
    justify-content: space-around;
}

.list-left,
.list-right {
    width: 35%;
}


header .menu-head .list-left .list-links img {
    width: 100px;
}


header a {
    color: black;
}

.blu-btn {
    background-color: #0061ff;
    color: white;
    padding: 5px 10px;
}

img {
    width: 100%;
}


h2{
    font-size: 35px;
    margin-top: 80px;
}

/*
+++++++++++++
Typo Main
+++++++++++++
*/


main .jumbotron {
    background-color: #b4d0e7;
}

main section .container-maxi .flexami .box-testo {
    width: 40vw;
}

.box-img {
    width: 60vw;
}



main section .container-maxi h1 {
    font-size: 50px;
    margin-top: 100px;

}


.container{
    justify-content: space-between;
}



main section .container-maxi .flexami .box-testo p {
    margin-bottom: 35px;
}

main section .container-maxi .flexami .box-testo .row-down {
    margin-top: 80px;
}


main section .container-maxi .flexami .box-testo .row-down:before {
    content: "\1F87B";
    font-size: 50px;
}


/*
+++++++++++++
fine sezione 1
+++++++++++++
*/



.container-small{
    justify-content: center;
}

/* ul[classe="list"] li{
    margin: 20px 0;
    padding: 0 20px;
} */



.box{
    width: calc(100% / 3);
    border: 1px solid rgba(0, 0, 0, 0.2);
}


.center-box{
    margin: 0 30px;
}


.radio{
    margin-bottom: 40px;
    margin-top: 45px;
    display: flex;
    gap: 15px;
}


.radio div:last-child{
    margin-left: 30px;
}

.plan{
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    line-height: 2;
}

h3{
    margin: 20px 0;
}


h3,
.box div{
    padding: 0 20px;
}


.type-plan{
    opacity: 0.5;
    margin-top: 5px;
    margin-bottom: 35px
}


label{
    margin-left: 5px;
}

input,
label
{
    vertical-align: middle;
}

hr{
    width: 20%;
    margin: 25px 20px;
}


.corrector{
    margin-bottom: 40px;
}

.btn-box{
    text-align: center;
}

.btn-box a{
    width: 100%;
    display: block;
}