/*
+++++++++++++
reset
+++++++++++++
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Open Sans', sans-serif;
}



/*
+++++++++++++
Common
+++++++++++++
*/


.jumbotron {
    margin: 0 auto;
}



.container-maxi {
    width: 66vw;
    margin: 0 auto;
}

.container-big {
    width: 60vw;
    margin: 0 auto;
}


.flexami {
    display: flex;

}

/* .wrappino{
    flex-wrap: wrap;
} */

li {
    list-style-type: none;
    margin: 20px 0;
    padding: 0 20px;

}

* hr {
    border: 1px solid grey;
    opacity: 0.4;
}

a {
    text-decoration: none;
}


.box-testo {
    line-height: 1.4em;
    padding: 10px;
}

.btn-margin {
    margin-bottom: 35px;

}


/*
+++++++++++++
Typo Header
+++++++++++++
*/


header {
    height: 80px;
}

.menu-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}


.list,
.list-links {
    display: flex;
}

header .menu-head .list-left .list-links,
header .menu-head .list-right .list-links {
    justify-content: space-around;
}


header .menu-head .list-left .list-links img {
    width: 100px;
}


header a {
    color: black;
}

.blu-btn {
    background-color: #0061ff;
    color: white;
    padding: 5px 10px;
}

img {
    width: 100%;
}


h2 {
    font-size: 35px;
    margin-top: 80px;
}

/*
+++++++++++++
Typo Main
+++++++++++++
*/


main .jumbotron {
    background-color: #b4d0e7;
}

main section .container-maxi .flexami .box-testo {
    width: 40vw;
}

.box-img {
    width: 60vw;
}



main section .container-maxi h1 {
    font-size: 50px;
    margin-top: 100px;

}


.container {
    justify-content: space-between;
}



main section .container-maxi .flexami .box-testo p {
    margin-bottom: 35px;
}

main section .container-maxi .flexami .box-testo .row-down {
    margin-top: 80px;
}


main section .container-maxi .flexami .box-testo .row-down:before {
    content: "\1F87B";
    font-size: 50px;
}


/*
+++++++++++++
fine sezione 1
+++++++++++++
*/



.container-small {
    justify-content: center;
    width: 100%;
    margin-top: 50px;
}


.border {
    border: 2px solid rgba(0, 0, 0, 0.2);
}


.center-box {
    margin: 0 30px;
}


.radio {
    margin-top: 45px;
    display: flex;
    gap: 15px;
}


.radio div:last-child {
    margin-left: 30px;
}

.plan {
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    line-height: 2;
    text-align: center;
}

h3 {
    margin: 20px 0;
}


h3,
.border div {
    padding: 0 25px;
}


.type-plan {
    opacity: 0.5;
    margin-top: 5px;
    margin-bottom: 30px;
}


label {
    margin-left: 5px;
}

input,
label {
    vertical-align: middle;
}

hr {
    width: 20%;
    margin: 25px 35px;
}


.btn-box {
    text-align: center;
}

.btn-box a {
    width: 100%;
    display: block;
}


.container-big .border {
    width: 100%;

}




.container-big .border ul li {
    padding: 10px 30px 10px 35px;
}


.container-big .border ul li a[class="buy"] {
    text-decoration: underline;
    color: #5200ef;
}


.container-big .center-box ul li:last-child {
    margin-bottom: 50px;
}


i {
    margin-left: -20px;
    font-size: 12px;
    margin-right: 5px;
}


i[class="fa-solid fa-check"] {
    color: #0061ff;
}




/*
+++++++++++++
Orizzontal box
+++++++++++++
*/

.orizz-box {
    margin-top: 50px;
}

.mini-box {
    display: flex;
}

.orizz-box strong {
    margin-bottom: 30px;
}


.mini-box-left {
    width: 70%;
}


.mini-box-right {
    width: 30%;
    margin-top: 20px;
}


.mini-box-left div:last-child {
    margin: 30px 0;
}


/*
+++++++++++++
Sezione 2
+++++++++++++
*/


.box-img2 {
    width: 55%;
}

main section .container-small .box-testo {
    width: 45%;
}

main section .container-small .box-testo p {
    padding: 0 25px;
}


main section .container-small .box-testo div {
    padding: 20px 25px;
}


.second-btn {
    color: black;
    border: 1px solid black;
    padding: 5px 15px;
}

/*
+++++++++++++
Sezione 3
+++++++++++++
*/



h4 {
    margin-bottom: 40px;
}

.box {
    width: calc(100% / 3);
    padding: 0 20px;
}

.boxes {
    display: flex;
    margin-top: 30px;
    flex-wrap: wrap;
}

.normal-link {
    text-decoration: underline;
    color: #5200ef;
    margin-bottom: 150px;
    margin-top: 75px;
}

/*
+++++++++++++
Sezione sponsor
+++++++++++++
*/

#large-container {
    height: 640px;
    width: 100%;
}


.box-sponsor {
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.center-designit-box {
    width: calc(100% / 3);
    height: 100%;
    justify-content: flex-start;
    align-items: flex-start;
}



.right-designit,
.left-designit {
    width: calc(100% / 3);
    flex-wrap: wrap;
}


.left-designit .box-sponsor img,
.right-designit .box-sponsor img {
    width: 50%;
}

.designit-center {
    display: block;
    margin: 50px 40px;
    width: 100%;
}

.designit-center img {
    width: 50%;
}

#hr-sponsor {
    width: 20%;
    margin: 50px 0;
}

.center-designit-box .designit-center p {
    margin-bottom: 50px;
}



.red {
    background-color: #ff1c1c;
}


#green {
    background-color: #a2d39b;
    border: 15px solid #d1e9cd;
}

#bourdeaux {
    background-color: #61082b;
}

#light-blue {
    background-color: #0093ce;
}

#sky {
    background-color: #b4d0e7;
}

#blue {
    background-color: #0d2481;
}

#yellow {
    background-color: #ffd830;
}

#grey {
    background-color: #f5f5f5;
}

/*
+++++++++++++
Sezione after sponsor
+++++++++++++
*/
.after-sponsor-btn,
.after-sponsor-title {
    width: 50%;
    margin: 135px 0;

}

.after-sponsor-btn {
    text-align: center;
    
}


#after-sponsor {
    background-color: #b4d0e7;
    display: flex;
    justify-content: center;
}


.after-sponsor-btn a{
    background-color: white;
    border: white;
    line-height: 3.3em;
}

#h2-pt2{
    margin: 0 auto;
    color: #61082b;
}
