/*
+++++++++++++
reset
+++++++++++++
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
+++++++++++++
Common
+++++++++++++
*/

li {
    list-style-type: none;
}


a {
    text-decoration: none;
    
    
}

/*
+++++++++++++
Typo Header
+++++++++++++
*/


header{
    height: 80px;
}

.menu-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 100%;
}


.list,
.list-links{
    display: flex;
}

header .menu-head .list-left .list-links,
header .menu-head .list-right .list-links
{
    gap: 10px;
    justify-content: space-around;
}

.list-left,
.list-right
{
    width: 30%;
}


header .menu-head .list-left .list-links img{
    width: 100px;
}


header a{
    color: black;
}

.blu-btn{
    background-color: #0061ff;
    color: white;
    padding: 5px 10px;
}